.bg-p {
  background-color: #0275d8;
  /* padding: 1.5em;
  padding-top: 0.8em;
  padding-bottom: 0.8em; */
  color: white;
  border-radius: 0.2em;
  border: 1px solid #0275d8;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.bg-p:hover {
  background-color: white;
  border: 1px solid #0275d8;
  color: #0275d8;
}

